#header {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    justify-content: space-between;
}

#header div { /*score*/
    background-color: #ffffe4;
    text-align: end;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em 4em;
    padding: 2em 1em;
}

.banner {
    margin: auto;
    width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2em 4em;
    padding: 8em 4em;
}

.banner img {
    height: 200px;
    width: 200px;
}

.component {
    border: 2px solid;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 0px 0px;
    position: relative;
    background-color: #ffffff;
}

.btn {
    color: #000;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.typography {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
