.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px 80px; 
}

.card-button {
    border: none;   
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
