.card {
    border: 1px solid;
    background: white;
}

.card img {
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.card-details {
    background: turquoise;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 15px;
}

